*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
  background: #1a1919;
  padding: 10px 100px;
}

h1{
    /* text-transform: uppercase; */
    color: white;
    word-spacing: 20px;
    font-size: 35px;
    margin: 40px 10px;
    text-align: center;
}

div{
  color: rgb(86, 255, 196);
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
  margin: 7px;
}